body {
    font-family: 'Arial';
}
.enter-task-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(159, 159, 236);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.enter-task {
    flex-basis: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(146, 237, 253);
}
.btn-add-task {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: -30px;
    padding: 19px;
    border-radius: 50%;
    background-color: blue;
}
.btn-add-task::before,
.btn-add-task::after {
    content: '';
    position: absolute;
    left: 46%;
    top: 7px;
    background-color: #fff;
    border-radius: 5px;
    width: 4px;
    height: 60%;
}
.btn-add-task::after {
    transform: rotate(90deg);
}

.unfinished-tasks-block {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 30px;
}
.finished-tasks-block {
    border: 1px solid #000;
    padding: 10px;
}

.btn-del-task,
.btn-mark-task {
    padding: 15px 5px;
    border-radius: 50%;
}
.btn-del-task {
    margin-left: auto;
    border: 1px solid red;
}
.btn-mark-task {
    border: 1px solid green;
}
.btn-del-task b,
.btn-mark-task b {
    pointer-events: none;
}

.task {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 255, 0.493);
    margin: 5px 0;
}
.marked {
    background-color: rgba(36, 250, 8, 0.644);
}
